.dropdown {
  background: var(--bg);
  display: inline-block;
  position: relative;
  z-index: 1;
}


.dropdown > button {
  background: var(--bg);
  border: 1px solid var(--bg);
  box-shadow: none;
  color: var(--fg);
  height: 100%;
  position: relative;
  z-index: 2;
}

.dropdown > button:hover,
.dropdown > button:focus {
  border: 1px solid var(--shadow);
  box-shadow: none;
  background: var(--shadow);
}

.dropdown > button + * {
  display: none;
}

.dropdown.active > button {
  border: 1px solid var(--light-gray);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-color: var(--shadow);
}

.dropdown.active > button + * {
  display: block;
  background: var(--shadow);
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--light-gray);
  max-width: calc(100vw - 2em);
  position: absolute;
  top: calc(100% - 1px);
  z-index: 1;
}

.dropdown.active > button + .right {
  right: 0;
  border-top-left-radius: 5px;
  text-align: right;
}

.dropdown.active > button + .left {
  left: 0;
  border-top-right-radius: 5px;
}
