@import './a11y.css';
@import './dropdown.css';
@import './swap-vert.css';
@import './title.css';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --white: white;
  --black: #111618;
  --gray: #79726C;
  --red: #FF585D;
  --blue: #0072CE;
  --purple: #627EEA;
  --green: rgb(85, 188, 143);
  --bg: var(--white);
  --fg: var(--gray);
  --fg-bold: var(--black);
  --light-gray: #f0f0f0;
  --shadow: #fafafa;
  --error: #FF585D;
  --success: var(--green);
  --primary: var(--red);
  --secondary: var(--blue);

  --space: 1em;

  --monospace: "Source Code Pro",monospace;
}

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-variant: slashed-zero;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  line-height: 1;
  color: var(--fg-bold);
}

p {
  margin: 0 0 1em;
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
  padding: 0;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--secondary);
}

label {
  display: block;
}

button, input, select {
  font: inherit;
  outline: none;
}

button {
  background-color: var(--fg-bold);
  border-radius: 5px;
  border: none;
  color: var(--bg);
  font-weight: 500;
  cursor: pointer;
  padding: 0.3em 0.75em;
  transition: transform 30ms;
}
button:hover, button:focus {
  box-shadow: 0 0 10em rgba(255, 255, 255, 0.2) inset;
}
button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}
button.cta {
  border-radius: 0.5em;
  padding: 0.75em;
  width: 100%;
}
[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: var(--light-gray);
  color: gray;
  cursor: not-allowed;
  transform: none;
}
[disabled] button,
.loader {
  display: block;
  text-indent: -900em;
  width: 2em;
  position: relative;
}
[disabled] button:after,
.loader:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 0.15em solid transparent;
  border-top-color: var(--secondary);
  animation: spin 1.5s ease-in-out infinite,
          rainbow 1.5s ease-in-out infinite;
  position: absolute;
  top: 0.35em;
  right: 0.4em;
}
@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
@keyframes rainbow {
  0% { filter: hue-rotate(0deg) }
  100% { filter: hue-rotate(360deg) }
}

fieldset {
  border: none;
  padding: 0;
}

input, select {
  background-color: var(--shadow);
  border: none;
  caret-color: var(--primary);
  color: inherit;
  padding: 0.25em 0.5em;
  width: 100%;
}
input::selection {
  background-color: var(--secondary);
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  box-shadow: 0 0 3px var(--light-gray) inset;
  border-radius: 5px;
  color: var(--gray);
  padding: 0 0.25em;
}
code.clip {
  display: inline-block;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

li {
  padding-bottom: 1em;
}

.jumbo {
  display: block;
  font-size: 2.5em;
  margin: 1rem 0;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray: #aaa;
    --shadow: #2a2a2a;
    --light-gray: #444;
    --bg: var(--black);
    --fg-bold: var(--white);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--white);
  }
  input:focus {
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.02) inset;
  }
}

.concept-near {
  color: var(--red);
}

.concept-ethereum {
  color: var(--purple);
}

.connected-account {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-left: 1em;
}
.connected-account:before {
  color: var(--green);
  content: '•';
  font-size: 1.5em;
  left: 0;
  line-height: 0.8;
  position: absolute;
}
