.modal {
  background-color: rgba(39, 39, 41, 0.7);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* modal expects one immediate child */
.modal > * {
  background-color: var(--white);
  border-radius: 0.5em;
  margin: 0 auto;

  width: 25em;
  max-width: 100%;
  max-height: 90vh;
}

.modal__container {
  overflow-y: auto;
  padding: var(--spacing-m);
}

.modal-section__label {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  padding-bottom: var(--spacing-s);
}

.modal-section__separator {
  text-align: center;
  position: relative;
  font-size: var(--fs-small);
  color: var(--gray-600);
  margin: 0 calc(-1 * var(--spacing-m));
  padding: var(--spacing-m) 0;
}

.modal-section__separator::before,
.modal-section__separator::after {
  content: "";
  border-top: 1px solid var(--gray-200);
  top: 50%;
  position: absolute;
  width: 45%;
}

.modal-section__separator::before {
  left: 0;
}

.modal-section__separator::after {
  right: 0;
}

.modal__image {
  display: block;
}

/* CSS-Only Modal Graphic */
.modal-image__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
}

.network-badge {
  background-color: white;
  display: flex;
  align-items: center;
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: 50px;
}

.network-badge__indicator {
  border-radius: 99px;
  margin-right: var(--spacing-s);
}

.network-badge--primary .network-badge__indicator {
  background-color: var(--red-500);
  height: 12px;
  width: 12px;
}

.network-badge--secondary .network-badge__indicator {
  background-color: var(--green-400);
  height: var(--spacing-s);
  width: var(--spacing-s);
}

.network-badge--primary {
  box-shadow: 0px 27px 80px rgba(0, 0, 0, 0.07),
    0px 8.13971px 24.1177px rgba(0, 0, 0, 0.0456112),
    0px 3.38082px 10.0172px rgba(0, 0, 0, 0.035),
    0px 1.22278px 3.62304px rgba(0, 0, 0, 0.0243888);
  color: var(--gray-600);
  font-size: var(--fs-small);
  z-index: 2;
}

.network-badge--secondary {
  border: 1px solid var(--gray-200);
  color: var(--gray-400);
  margin-top: -4px;
  font-size: var(--fs-micro);
  z-index: 1;
}

.bg-squares {
  position: relative;
  width: 100%;
  height: 48px;
}

.bg-squares__square {
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
}

.bg-squares__square--light {
  background-color: var(--gray-100);
}

.bg-squares__square--dark {
  background-color: var(--gray-200);
}

.bg-squares--top {
  width: 72px;
  margin-bottom: -8px;
}

.bg-squares--bottom {
  width: 48px;
  margin-top: -8px;
}

.bg-squares--top .bg-squares__square--dark {
  left: 0;
  bottom: 0;
}

.bg-squares--top .bg-squares__square--light {
  right: 0;
  top: 0;
}

.bg-squares--bottom .bg-squares__square--light {
  left: 0;
  bottom: 0;
}

.bg-squares--bottom .bg-squares__square--dark {
  right: 0;
  top: 0;
}

.modal__heading {
  font-size: var(--fs-heading-4);
  text-align: center;
  margin: 0 0 var(--spacing-xl);
}

.modal__message,
.modal__cta {
  color: var(--gray-600);
  font-size: var(--fs-small);
  line-height: var(--lh-copy);
  text-align: center;
}

.modal__cta {
  margin: var(--spacing-l) 0 var(--spacing-xl);
}

/* child must have nav element with one close button within */
.modal__nav {
  display: flex;
  justify-content: flex-end;
}

.modal__nav__button--close {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-s);
  height: auto;
}

.modal__nav__button--close:hover,
.modal__nav__button--close:focus {
  background-color: var(--gray-200);
}
