.notification-indicator {
  background-color: var(--secondary);
  border-radius: 50em;
  color: var(--white);
  font-size: 0.55em;
  line-height: 1;
  padding: 0.2em 0.4em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  vertical-align: super;
}
