.swap-vert {
  background-color: transparent;
  background: url('../img/swap-vert.svg') no-repeat;
  background-position: center center;
  background-size: 1.3em;
  border-radius: 1000em;
  border: 1px solid var(--light-gray);
  height: 2em;
  width: 3.5em;
}
