.logo--landing-page {
  text-align: center;
  margin: 64px auto 0;
  width: 200px;
}

.logo--landing-page .rainbow-icon {
  width: 72px;
  margin: 0 auto var(--spacing-m);
}

.logo--landing-page svg {
  margin: calc(0.5 * var(--spacing-m)) auto;
}

.logo--landing-page small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-600);
  font-size: var(--base-font-size);
  margin-bottom: var(--spacing-xs);
  font-weight: var(--fw-regular);
}

.logo--landing-page small img {
  margin: 0 var(--spacing-xs);
}

.logo--landing-page .logo-text--primary {
  position: relative;
}

.logo-text--primary .beta-tag {
  position: absolute;
  top: 0;
  right: -12px;
}
