.title {
  text-align: center;
}

.title > * {
  display: block;
}

.title > svg {
  margin: calc(0.5 * var(--spacing-m)) auto;
}

.title > small {
  color: var(--gray-600);
  font-size: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
}
