.transfer-form {
  /* body is flex-direction: column & min-height: 100vh.
   * flex: 1 here stretches this element to fill rest of vertical viewport */
  flex: 1;

  /* also stretch this element vertically, to push footer to bottom */
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}
.transfer-form > header {
  margin: 0 auto;
  max-width: 15em;
  text-align: center;
}
.transfer-form > .account {
  background-color: var(--shadow);
  margin: 0 auto;
  max-width: 25em;
  padding: 1em;
  width: 100%;
}
@media (min-width: 25em) {
  .transfer-form > .account {
    border-radius: 4px;
  }
}
.transfer-form > .account > header {
  align-items: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-gap: 3em;
}
.transfer-form .token-details {
  display: none;

  border-top: 1px solid var(--light-gray);
  font-size: 0.8em;
  justify-content: space-between;
  margin: 1rem -1rem -1rem;
  padding: 1rem;
}
.transfer-form .inputs + .token-details {
  border-top: none;
  padding: 0;
}
.transfer-form strong {
  font-weight: 500;
}
.transfer-form .inputs {
  background-color: var(--light-gray);
  border-radius: 0.75em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto 1fr;
  margin-top: 0.5em;
}
.transfer-form .inputs > * {
  background-color: var(--bg);
  border: none;
  box-shadow: none;
  padding: 0.75rem 1rem;
}
.transfer-form .inputs button {
  align-items: center;
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--fg-bold);
  display: flex;
}
.transfer-form .inputs button:after {
  content: ' ';
  background-image: url(/img/chevron-down-blue.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;

  margin-left: 0.5em;
  width: 1.3rem;
  height: 2rem;
}
/* add "selected" class after user selects an ERC20 token */
.transfer-form .inputs button:not(.selected) {
  color: var(--blue);
}
.transfer-form .inputs input {
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 1.4em;
  font-weight: 900;
}
.transfer-form .inputs *:disabled {
  color: var(--gray);
  cursor: not-allowed;
}
.transfer-form .inputs input[type=number]::-webkit-inner-spin-button,
.transfer-form .inputs input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.transfer-form input {
  text-align: right;
}
.transfer-form > footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  margin: 2em auto 0;
  max-width:  25em;
  padding: 1em;
  width: 100%;
}
@media (min-width: 25em) {
  .transfer-form > footer {
    display: block;
  }
}
.transfer-form > .arrow {
  background: url('../img/arrow-down.svg') no-repeat;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  margin: 1em auto;
}

.token-selector h3 {
  font-weight: 500;
  font-size: 0.875em;
  margin: 0 0 1.5rem;
}
.token-selector form {
  margin: 1em;
}
.token-selector .separator {
  border-top: 1px solid var(--light-gray);
  height: 0;
  margin: 2em 0;
  text-align: center;
  width: 100%;
}
.token-selector .separator strong {
  background-color: var(--bg);
  color: var(--fg);
  font-weight: 400;
  padding: 0 1em;
  position: relative;
  top: -0.6em;
}

.token-selector .token-list input[type=radio] {
  display: none;
}

.token-selector .token-list label {
  border-radius: 0.5em;
  color: var(--fg-bold);
  cursor: pointer;
  margin: 0 -1em;
  padding: 1em;
}

.token-selector .token-list label:hover,
.token-selector .token-list label:focus {
  background-color: var(--shadow);
}

.token-selector .token-list label span {
  display: flex;
  align-items: center;
}

.token-selector .token-list img {
  width: 1.5em;
  margin-right: 1em;
}
