* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e2e2e2;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 1em;
}

h1 {
  text-align: center;
  position: relative;
}

.title {
  margin-top: 0;
  padding: 3.5em 0 0;
}
.title:before {
  content: '🌈';
  position: absolute;
  width: 100%;
  top: 1.25em;
  left: 0;
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
  padding: 0;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--secondary);
}

button, input {
  font: inherit;
  outline: none;
}

button {
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  color: #efefef;
  cursor: pointer;
  padding: 0.3em 0.75em;
  transition: transform 30ms;
}
button:hover, button:focus {
  box-shadow: 0 0 10em rgba(255, 255, 255, 0.2) inset;
}
button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}
[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: var(--light-gray);
  color: gray;
  cursor: not-allowed;
  transform: none;
}
[disabled] button {
  text-indent: -900em;
  width: 2em;
  position: relative;
}
[disabled] button:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: var(--fg) transparent var(--fg) transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
}
@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

fieldset {
  border: none;
  padding: 0;
}

input {
  background-color: var(--shadow);
  border: none;
  border-radius: 5px 0 0 5px;
  caret-color: var(--primary);
  color: inherit;
  padding: 0.25em 0.5em;
  width: 100%;
}
input::selection {
  background-color: var(--secondary);
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  box-shadow: 0 0 3px var(--light-gray) inset;
  border-radius: 5px;
  color: var(--gray);
  padding: 0 0.25em;
}
code.clip {
  display: inline-block;
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

li {
  padding-bottom: 1em;
}

/* show to screen readers, hide visually */
.visually-hidden {
  position: absolute;
  text-indent: -9999em;
}

.dropdown {
  background: var(--bg);
  display: inline-block;
  position: relative;
  z-index: 1;
}
.dropdown > button {
  background: var(--bg);
  border: 1px solid var(--bg);
  box-shadow: none;
  color: var(--fg);
}
.dropdown > button:hover,
.dropdown > button:focus {
  border: 1px solid var(--shadow);
  background: var(--shadow);
}

.dropdown > button + * {
  display: none;
}
.dropdown.active > button {
  border: 1px solid var(--light-gray);
  border-radius: 5px 5px 0 0;
  border-bottom-color: var(--shadow);
  position: relative;
  z-index: 2;
}
.dropdown.active > button + * {
  display: block;
  background: var(--shadow);
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
  border: 1px solid var(--light-gray);
  max-width: calc(100vw - 2em);
  position: absolute;
  top: calc(100% - 1px);
  z-index: 1;
}
.dropdown.active > button + .right {
  right: 0;
  border-top-left-radius: 5px;
  text-align: right;
}
.dropdown.active > button + .left {
  left: 0;
  border-top-right-radius: 5px;
}

main {
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  margin: 4rem auto;
  max-width: 20em;
}
main > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main section {
  border-radius: 5px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0.5em 0;
  position: relative;
  text-align: center;
}
main section header {
  position: absolute;
  top: -1.3em;
  left: 0;
}
main section header img {
  height: 1em;
}
main section button {
  padding: 0 0.25em;
}
main section footer {
  font-size: 0.8em;
}
main section footer img {
  width: 1em;
  vertical-align: bottom;
}
main form button:after {
  content: '↓';
}
@media(min-width: 650px) {
  main {
    display: grid;
    max-width: 40em;
  }
  main form button:after {
    content: '→';
  }
}

.jumbo {
  display: block;
  font-size: 2.5em;
  margin: 1rem 0;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: #1e1e1e;
    --fg: #efefef;
    --gray: #aaa;
    --shadow: #2a2a2a;
    --light-gray: #444;
  }
  input:focus {
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.02) inset;
  }
}
